<p>manage-menu works!</p>
<h3>Menu</h3>
<div class="divTable">
    <table>
        <thead>
            <tr>
                <th>Restaurant ID</th>
                <th>DishName</th>
                <th>DishType</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of MenuList">
                <td>{{r.rid}}</td>
                <td>{{r.dishname}}</td>
                <td>{{r.dishtype}}</td>
                <td>
                    {{r.price}}
                </td>
            </tr>
        </tbody>
    </table>
</div>